@mixin mobile {
  @media (max-width: #{var(--tablet-width) - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{var(--desktop-width) - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{var(--desktop-width)}) {
    @content;
  }
}

@mixin burner {
  @media (max-width: #{var(--burner)}) {
    @content;
  }
}

.button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    outline: none;
    box-shadow: 4px 4px 0 0 var(--green);
    transform: translate(-5px, -5px);
  }
  &:after {
    display: none !important;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--green);
    outline: 0;
  }
}

.inlineLink {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--green);
    outline: 0;
    &:after {
      width: 100%;
    }
    & > * {
      color: var(--green) !important;
      transition: var(--transition);
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    opacity: 0.5;
    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition);
    }
  }
}

.smallButton {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    outline: none;
    box-shadow: 3px 3px 0 0 var(--green);
    transform: translate(-4px, -4px);
  }
  &:after {
    display: none !important;
  }
}

.bigButton {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    outline: none;
    box-shadow: 4px 4px 0 0 var(--green);
    transform: translate(-5px, -5px);
  }
  &:after {
    display: none !important;
  }
}

.boxShadow {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
  }
}

.fancyList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    &:before {
      content: '▹';
      position: absolute;
      left: 0;
      color: var(--green);
    }
  }
}

.resetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.big-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

.medium-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 60px);
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;

  &:before {
    position: relative;
    bottom: 4px;
    counter-increment: section;
    content: '0' counter(count) '.';
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;

    @media (max-width: 480px) {
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);

    @media (max-width: 1080px) {
      width: 200px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      margin-left: 10px;
    }
  }
}

.overline {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}
