@import './fonts';
@import './_variables';
@import './_reset';
@import './_mixins';

#gradient-canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;

  // //   good combo
  --gradient-color-1: #90afddd8;
  --gradient-color-2: var(--navy);
  // --gradient-color-3: var(--navy);
  --gradient-color-4: #141f2ef6;
}
#gradient-canvas2,
#gradient-canvas3,
#gradient-canvas4 {
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  // //   good combo
  --gradient-color-1: #90afddd8;
  --gradient-color-2: var(--navy);
  // --gradient-color-3: var(--navy);
  --gradient-color-4: #141f2ef6;
}
