@import '../../styles/mixins.scss';
.container {
  ul {
    @extend .resetList;
  }
  li {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 100px;
  }
}

.imageWrapper {
  position: relative;
  img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    object-fit: cover;
    @media (max-width: 768px) {
      object-fit: cover;
      width: auto;
      height: 100%;
      filter: grayscale(100%) contrast(1) brightness(50%);
    }
  }
}
