@import '../../styles/mixins.scss';
.container {
  // position: relative;
  @extend .flexCenter;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0;

  @media (max-height: 700px) and (min-width: 700px), (max-width: 360px) {
    height: auto;
    padding-top: var(--nav-height);
  }

  h1 {
    margin: 0 0 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;

    @media (max-width: 480px) {
      margin: 0 0 20px 2px;
    }
  }

  h3 {
    margin-top: 5px;
    color: var(--slate);
    line-height: 0.9;
  }
  h2,
  h3 {
    @extend .big-heading;
  }

  p {
    margin: 20px 0 0;
    max-width: 540px;
  }

  a {
    @extend .bigButton;
    margin-top: 50px;
  }
}

.gradient {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: -150%;
  bottom: 0;

  background: radial-gradient(circle at 80% 0%, #3330, #0a192f 70%, #0a192f 75%),
    linear-gradient(0deg, rgba(10, 25, 47, 1) 12%, rgba(10, 25, 47, 0.8071603641456583) 28%, rgba(10, 25, 47, 0) 100%);
}
