@import '../styles/_mixins';
.title {
  line-height: normal;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 4.5em;
  color: var(--purple);

  &:before {
    content: '>\a0';
  }

  @include mobile {
    font-size: 2.3em;
  }

  span {
    background-color: rgba(var(--purple), 0.65);
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      background-color: transparent;
    }
  }
}
